---
import {
  Badge,
  Box,
  Button,
  Column,
  Heading,
  Image,
  Label,
  Rating,
  Section,
  Text,
  Wrap,
} from 'fulldev-ui'
import {
  default as MasterCard,
  default as ReviewCard,
} from './MasterCard.astro'

const {
  level,
  structure,
  align,
  position,
  label,
  heading,
  badge,
  text,
  button,
  buttons,
  review,
  image,
  rating,
  cards,
  pages,
  records,
  ...rest
} = Astro.props
---

<Section
  class:list={'master-section'}
  structure={structure === 'split' ? 'split' : 'column'}
  {align}
  {...rest}
>
  <Box
    structure={structure === 'spread' ? 'spread' : 'column'}
    align={structure === 'split' ? 'start' : align}
  >
    <Column align={structure === 'column' ? align : 'start'}>
      <Rating value={rating} />
      <ReviewCard
        frame="none"
        {...review}
      />
      <Badge html={badge} />
      <Label
        color="brand"
        html={label}
      />
      <Heading
        {level}
        html={heading}
      />
      <Text
        contrast={position === 'background' && true}
        html={text}
      />
    </Column>
    <Wrap>
      {[button, ...buttons]?.map((button) => <Button {...button} />)}
    </Wrap>
  </Box>
  <Box
    structure={structure === 'split' ? 'grid' : structure || 'grid'}
    position={structure === 'carousel' ? 'inset' : undefined}
  >
    {
      [...(cards ?? []), ...(records ?? []), ...(pages ?? [])]?.map(
        (card: any) => <MasterCard {...card} />
      )
    }
  </Box>
  <Image
    {position}
    src={image}
  />
</Section>
