---
import type { HTMLTag } from 'astro/types'
import type { CollectionEntry } from 'astro:content'
import { getEntries } from 'astro:content'
import { Card, Grid, Heading, Rating, Section, Text } from 'fulldev-ui'
import type { Block } from '../../schemas/block'

type Props<As extends HTMLTag = 'section'> = Block<As> & {
  reviews?: CollectionEntry<'reviews'>[]
}

const { heading, text, reviews } = Astro.props

const entries = reviews && (await getEntries(reviews))
---

<Section size="md">
  <Heading html={heading} />
  <Text html={text} />
  <Grid>
    {
      reviews?.map(({ slug, data: { rating, title, description } }) => (
        <Card variant="base">
          <Rating
            color="brand"
            value={rating}
          />
          <Heading
            level={3}
            html={title}
          />
          <Text html={description} />
        </Card>
      ))
    }
  </Grid>
</Section>
