---
import type { HTMLTag } from 'astro/types'
import {
  Badge,
  Button,
  Column,
  Form,
  Heading,
  Image,
  Input,
  Rating,
  Section,
  Tagline,
  Text,
  Wrap,
} from 'fulldev-ui'
import type { Block } from '../../schemas/block'

type Props<As extends HTMLTag = 'section'> = Block<As>

const {
  structure = 'column',
  size = 'lg',
  variant = 'subtle',
  align = 'center',
  level = 2,
  badge,
  rating,
  tagline,
  heading,
  text,
  buttons,
  frame = 'panel',
  input,
  position = 'background',
  image,
  ...rest
} = Astro.props
---

<Section
  class:list={'cta'}
  {align}
  {variant}
  {size}
  {structure}
  {frame}
  {...rest}
>
  <Column align={structure === 'column' ? align : 'start'}>
    <Rating {...rating} />
    <Badge html={badge} />
    <Tagline html={tagline} />
    <Heading
      color="base"
      {level}
      html={heading}
    />
    <Text
      contrast={position === 'background' && true}
      color="base"
      html={text}
    />
  </Column>
  <Wrap>
    {buttons?.map((button, i) => <Button {...button} />)}
  </Wrap>
  <Form
    structure="row"
    style={{ maxWidth: '420px' }}
  >
    <Input
      variant="surface"
      contrast={position === 'background' && true}
      placeholder={input?.placeholder}
      name={input?.placeholder}
    />
    <Button
      color="brand"
      type="submit"
      text={input?.submit}
    />
  </Form>
  <Image
    {position}
    src={image}
  />
</Section>
