---
import type { HTMLTag } from 'astro/types'
import type { CollectionEntry } from 'astro:content'
import {
  Box,
  Button,
  Card,
  Column,
  Heading,
  Image,
  Section,
  Spread,
  Text,
  Wrap,
} from 'fulldev-ui'
import type { Block } from '../../schemas/block'

type Props<As extends HTMLTag = 'section'> = Block<As> & {
  categories?: CollectionEntry<'categories'>[]
}

const {
  structure = 'grid',
  heading,
  text,
  categories,
  buttons,
  ...rest
} = Astro.props
---

<Section {...rest}>
  <Spread>
    <Column>
      <Heading html={heading} />
      <Text html={text} />
    </Column>
    <Wrap>
      {buttons?.map((button, i) => <Button {...button} />)}
    </Wrap>
  </Spread>
  <Box {structure}>
    {
      categories?.map(({ slug, data: { title, description, image } }) => (
        <Card
          href={`/categorieen/${slug}/`}
          frame="panel"
        >
          <Image
            src={image}
            position="inset"
          />
          <Heading
            html={title}
            level={3}
          />
          <Text html={description} />
        </Card>
      ))
    }
  </Box>
</Section>
