---
import type { HTMLTag } from 'astro/types'
import { getEntries } from 'astro:content'
import {
  Button,
  Card,
  Column,
  Grid,
  Heading,
  Image,
  Section,
  Spread,
  Text,
  Wrap,
} from 'fulldev-ui'
import type { Block } from '../../schemas/block'

type Props<As extends HTMLTag = 'section'> = Block<As>

const { heading, text, categories, buttons, ...rest } = Astro.props

const entries = categories && (await getEntries(categories))
---

<Section {...rest}>
  <Spread>
    <Column>
      <Heading html={heading} />
      <Text html={text} />
    </Column>
    <Wrap>
      {buttons?.map((button, i) => <Button {...button} />)}
    </Wrap>
  </Spread>
  <Grid>
    {
      entries?.map(({ slug, data: { title, description, image } }) => (
        <Card
          href={`/categorieen/${slug}/`}
          frame="panel"
        >
          <Image
            src={image}
            position="inset"
          />
          <Heading
            html={title}
            level={3}
          />
          <Text html={description} />
        </Card>
      ))
    }
  </Grid>
</Section>
