---
import type { ComponentProps } from 'astro/types'
import {
  Button,
  Column,
  Form,
  Heading,
  Input,
  Section,
  Text,
  Wrap,
} from 'fulldev-ui'

type Props = ComponentProps<typeof Section> &
  Pick<ComponentProps<typeof Heading>, 'level'> & {
    heading?: string
    text?: string
    image?: string
    buttons?: ComponentProps<typeof Button>[]
    structure?: 'column' | 'spread'
    input?: {
      placeholder?: string
      button?: string
    }
  }

const {
  structure = 'column',
  size = 'lg',
  variant = 'subtle',
  align = 'center',
  level = 2,
  heading,
  text,
  buttons,
  frame = 'panel',
  input,
  ...rest
} = Astro.props
---

<Section
  {align}
  {variant}
  {size}
  {structure}
  {...rest}
  {frame}
>
  <Column align={structure === 'column' ? align : 'start'}>
    <Heading
      {level}
      html={heading}
    />
    <Text html={text} />
  </Column>
  <Wrap>
    {buttons?.map((button, i) => <Button {...button} />)}
  </Wrap>
  <Form
    structure="row"
    style={{ maxWidth: '420px' }}
  >
    <Input
      placeholder={input?.placeholder}
      name={input?.placeholder}
    />
    <Button
      type="submit"
      text={input?.button}
    />
  </Form>
</Section>
