---
import type { ComponentProps } from 'astro/types'
import { Button, Form, Heading, Input, Row, Section, Text } from 'fulldev-ui'

interface Props extends ComponentProps<typeof Section> {
  heading?: string
  paragraph?: string
  text?: string
  buttons?: ComponentProps<typeof Button>[]
  input?: {
    placeholder?: string
    button?: string
  }
}

const { heading, text, buttons, input, ...rest } = Astro.props
---

<Section
  align="center"
  frame="panel"
  variant="subtle"
  size="lg"
  {...rest}
>
  <Heading html={heading} />
  <Text html={text} />
  <Row>
    {buttons?.map((button, i) => <Button {...button} />)}
  </Row>
  <Form
    structure="row"
    style={{ maxWidth: '420px' }}
  >
    <Input
      placeholder={input?.placeholder}
      name={input?.placeholder}
    />
    <Button
      type="submit"
      text={input?.button}
    />
  </Form>
</Section>
