---
import type { ComponentProps } from 'astro/types'
import { Box, Button, Heading, Image, Section, Text, Wrap } from 'fulldev-ui'

type Props = ComponentProps<typeof Section> &
  Pick<ComponentProps<typeof Image>, 'position'> &
  Pick<ComponentProps<typeof Heading>, 'level'> & {
    heading?: string
    text?: string
    image?: string
    buttons?: ComponentProps<typeof Button>[]
    structure?: 'column' | 'split' | 'spread'
  }

const {
  structure = 'column',
  size = 'xl',
  level = 1,
  align,
  position,
  heading,
  text,
  buttons,
  image,
  ...rest
} = Astro.props
---

<Section
  structure={structure === 'split' ? 'split' : 'column'}
  {size}
  {align}
  {...rest}
>
  <Box
    structure={structure === 'spread' ? 'spread' : 'column'}
    align={structure === 'split' ? 'start' : align}
  >
    <Heading
      {level}
      html={heading}
    />
    <Text html={text} />
    <Wrap>
      {buttons?.map((button) => <Button {...button} />)}
    </Wrap>
  </Box>
  <Image
    {position}
    src={image}
  />
</Section>
