---
import type { HTMLTag } from 'astro/types'
import { getEntries } from 'astro:content'
import {
  Button,
  Card,
  Carousel,
  Column,
  Heading,
  Image,
  Section,
  Spread,
  Text,
  Wrap,
} from 'fulldev-ui'
import type { Block } from '../../schemas/block'

type Props<As extends HTMLTag = 'section'> = Block<As>

const { heading, text, buttons, pages } = Astro.props

const entries = await getEntries(pages)
---

<Section size="sm">
  <Spread>
    <Column>
      <Heading html={heading} />
      <Text html={text} />
    </Column>
    <Wrap>
      {buttons?.map((button, i) => <Button {...button} />)}
    </Wrap>
  </Spread>
  <Carousel position="inset">
    {
      entries?.map(({ slug, data: { image, heading, price } }) => (
        <Card
          href={`/${slug}/`}
          frame="none"
        >
          <Image src={image} />
          <Spread>
            <Heading
              level={4}
              as="h3"
              html={heading}
            />
            <Heading
              level={4}
              as="p"
              html={price?.toString()}
            />
          </Spread>
        </Card>
      ))
    }
  </Carousel>
</Section>
