---
import type { ComponentProps } from 'astro/types'
import { getEntries } from 'astro:content'
import {
  Card,
  Carousel,
  Heading,
  Image,
  Paragraph,
  Section,
  Tagline,
  Text,
} from 'fulldev-ui'

interface Props {
  heading?: ComponentProps<typeof Heading>['html']
  text?: ComponentProps<typeof Paragraph>['html']
  products?: any
  cards?: {
    href?: string
    heading?: string
    description?: string
    price?: string
    image?: string
  }[]
}

const { heading, text, products } = Astro.props

const entries = await getEntries(products)
---

<Section>
  <Heading html={heading} />
  <Text html={text} />
  <Carousel position="inset">
    {
      entries?.map(({ data, slug }) => (
        <Card
          href={`/producten/${slug}/`}
          frame="none"
        >
          <Image src={data.image} />
          <Heading
            level={3}
            html={data.title || data.heading}
          />
          <Tagline html={data.price} />
        </Card>
      ))
    }
  </Carousel>
</Section>
