---
import type { HTMLTag } from 'astro/types'
import { getEntries } from 'astro:content'
import { Card, Grid, Heading, Rating, Section, Text } from 'fulldev-ui'
import type { Block } from '../../schemas/block'

type Props<As extends HTMLTag = 'section'> = Block<As>

const { heading, text, pages } = Astro.props

const entries = await getEntries(pages)
---

<Section size="md">
  <Heading html={heading} />
  <Text html={text} />
  <Grid>
    {
      entries?.map(({ slug, data: { rating, heading, text } }) => (
        <Card variant="outline">
          <Rating value={rating} />
          <Heading
            level={3}
            html={heading}
          />
          <Text html={text} />
        </Card>
      ))
    }
  </Grid>
</Section>
