---
import type { HTMLTag } from 'astro/types'
import {
  Button,
  Column,
  Form,
  Heading,
  Image,
  Input,
  Row,
  Section,
  Tagline,
  Text,
  Textarea,
} from 'fulldev-ui'
import type { Block } from '../../schemas/block'

type Props<As extends HTMLTag = 'section'> = Block<As>

const {
  heading,
  text,
  tagline,
  googleMaps,
  buttons,
  channels,
  socials,
  ...rest
} = Astro.props
---

<Section
  {...rest}
  structure="split"
>
  <Column>
    <Tagline html={tagline} />
    <Heading
      level={1}
      html={heading}
    />
    <Text html={text} />
    <Row>
      {buttons?.map((button) => <Button {...button} />)}
    </Row>
    <Column compact>
      <Row>
        <Button
          size="lg"
          icon="phone"
          href={`tel:${channels?.phone}`}
        />
        <Column compact>
          <Text
            text={'Telefoon'}
            contrast
          />
          <Text
            style={{ marginTop: 'var(--space-1)' }}
            text={channels?.phone}
          />
        </Column>
      </Row>
      <Row>
        <Button
          size="lg"
          icon="mail"
          href={`tel:${channels?.email}`}
        />
        <Column compact>
          <Text
            text={'Email'}
            contrast
          />
          <Text
            style={{ marginTop: 'var(--space-1)' }}
            text={channels?.email}
          />
        </Column>
      </Row>
      <Row>
        <Button
          size="lg"
          icon="pin"
          href={`tel:${channels?.address}`}
        />
        <Column compact>
          <Text
            text={'Adres'}
            contrast
          />
          <Text
            style={{ marginTop: 'var(--space-1)' }}
            text={channels?.address}
          />
        </Column>
      </Row>
    </Column>

    <Row
      compact
      size="sm"
    >
      <Button
        href={socials?.facebook}
        icon="brand-facebook"
      />
      <Button
        href={socials?.instagram}
        icon="brand-instagram"
      />
    </Row>

    <Form>
      <Input
        label="Name"
        id="Name"
        name="Name"
        type="text"
        required
      />
      <Input
        label="Email"
        id="Email"
        name="Email"
        type="email"
        required
      />
      <Input
        label="Phone"
        id="Phone"
        name="Phone"
        type="tel"
        required
      />
      <Textarea
        label="Message"
        id="Message"
        name="Message"
      />
      <Button text="Send message" />
    </Form>
  </Column>

  <!-- <iframe
    src={googleMaps}
    width="100%"
    height="450"
    style="border:0; margin-top: var(--space-6);"
    allowfullscreen="false"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe> -->
  <Image src={'/placeholder.webp'} />
</Section>
