---
import { getCollection } from 'astro:content'
import { Prose, Section } from 'fulldev-ui'
import Categories from '../../blocks/categories/Categories.astro'
import Intro from '../../blocks/intro/Intro.astro'
import Products from '../../blocks/products/Products.astro'
import Blocks from '../../components/Blocks.astro'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const pages = await getCollection('categories')
  return pages.map((page) => ({
    params: {
      categories: 'categorieen',
      category: page.slug,
    },
    props: page,
  }))
}

const { slug, data, render } = Astro.props
const { Content } = await render()

const products = await getCollection('products', (product) =>
  product.data.categories?.some((category) => category.slug.includes(slug))
)

const categories = await getCollection(
  'categories',
  (category) => category.slug !== slug
)
---

<Layout
  class:list={'category-page'}
  {...data}
>
  <Intro
    heading={data.title}
    text={data.description}
    {...data}
    {...data.hero}
  />
  <Products
    structure="grid"
    products={products}
  />
  <Categories
    heading="Meer categorieën"
    structure="carousel"
    categories={categories}
  />
  <Section>
    <Prose>
      <Content />
    </Prose>
  </Section>
  <Blocks blocks={data.blocks} />
  <slot />
</Layout>
