---
import {
  Button,
  Column,
  Heading,
  Label,
  Rating,
  Row,
  Section,
  Tagline,
  Text,
} from 'fulldev-ui'
import Image from '../components/Image.astro'
import ReviewCard from './ReviewCard.astro'

const {
  structure = 'split',
  align = 'center',
  position,
  tagline,
  rating,
  html,
  review,
  heading,
  title,
  label,
  description,
  text,
  buttons,
  image,
  ...rest
} = Astro.props
---

<Section
  class:list={'content'}
  {structure}
  {align}
  {...rest}
>
  <Column>
    <Rating value={rating} />
    <ReviewCard
      frame="none"
      {...review}
    />
    <Tagline html={tagline} />
    <Label
      color="brand"
      html={label}
    />
    <Heading
      color="base"
      html={heading || title}
    />
    <Text
      color="base"
      html={html || text || description}
    />
    <Row>
      {buttons?.map((button) => <Button {...button} />)}
    </Row>
  </Column>
  <Image
    {position}
    src={image}
  />
</Section>
