---
import {
  Badge,
  Button,
  Column,
  Form,
  Heading,
  Image,
  Input,
  Rating,
  Section,
  Tagline,
  Text,
  Wrap,
} from 'fulldev-ui'
import ReviewCard from './ReviewCard.astro'

const {
  structure = 'column',
  size = 'lg',
  variant = 'subtle',
  align = 'center',
  frame = 'panel',
  position = 'background',
  level,
  badge,
  rating,
  tagline,
  review,
  heading,
  text,
  buttons,
  button,
  input,
  image,
  ...rest
} = Astro.props
---

<Section
  class:list={'cta'}
  {align}
  {variant}
  {size}
  {structure}
  {frame}
  {...rest}
>
  <Column align={structure === 'column' ? align : 'start'}>
    <Rating value={rating} />
    <ReviewCard {...review} />
    <Badge html={badge} />
    <Tagline html={tagline} />
    <Heading
      color="base"
      html={heading}
      {level}
    />
    <Text
      contrast={position === 'background' && true}
      color="base"
      html={text}
    />
  </Column>
  <Wrap>
    {[button, ...(buttons || [])]?.map((button) => <Button {...button} />)}
  </Wrap>
  <Form
    structure="row"
    style={{ maxWidth: '420px' }}
  >
    <Input
      variant="outline"
      contrast={position === 'background' && true}
      placeholder={input?.placeholder}
      name={input?.placeholder}
    />
    <Button
      color="brand"
      type="submit"
      text={input?.submit}
    />
  </Form>
  <Image
    {position}
    src={image}
  />
</Section>
