---
import { AstroSeo } from '@astrolib/seo'
import type { CollectionEntry } from 'astro:content'
import { ViewTransitions } from 'astro:transitions'
import Block from '../components/Block.astro'
import Blocks from '../components/Blocks.astro'

type Props = CollectionEntry<'pages'>

const { slug, data, render } = Astro.props
const {
  logo,
  title,
  description,
  image,
  seo,
  header,
  headers,
  footer,
  footers,
  code,
} = data || {}

const renderTitle = render && (await render()).headings[0]?.text
const mergedTitle = seo?.title || title || renderTitle
const mergedDescription = seo?.description || description
const mergedImage = (seo?.image || image)?.startsWith('/')
  ? Astro.site ?? '' + (seo?.image || image) ?? ''
  : seo?.image || image
---

<!doctype html>
<html
  lang="nl"
  class={slug}
>
  <head>
    <meta
      content="width=device-width, initial-scale=1, viewport-fit=cover"
      name="viewport"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <ViewTransitions />
    <AstroSeo
      title={mergedTitle}
      description={mergedDescription}
      openGraph={{
        title: mergedTitle,
        description: mergedDescription,
        images: mergedImage
          ? [
              {
                url: mergedImage,
                alt: mergedTitle,
              },
            ]
          : undefined,
      }}
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="/favicon/site.webmanifest"
    />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg"
    />
    <link
      rel="shortcut icon"
      href="/favicon/favicon.ico"
    />
    <meta
      name="msapplication-config"
      content="/favicon/browserconfig.xml"
    />
    <meta
      name="theme-color"
      content="#000000"
    />
    <slot name="head" />
    <Fragment set:html={code?.head} />
  </head>
  <body>
    <Fragment set:html={code?.bodyStart} />
    <Block
      _bookshop_name="Header"
      {logo}
      {...header}
    />
    <Blocks {...headers} />
    <main>
      <slot />
    </main>
    <Block
      _bookshop_name="Footer"
      {logo}
      {...footer}
    />
    <Blocks {...footers} />
    <Fragment set:html={code?.body} />
  </body>
</html>
