---
import type { HTMLTag } from 'astro/types'
import {
  Button,
  Column,
  Heading,
  Image,
  Rating,
  Row,
  Section,
  Tagline,
  Text,
} from 'fulldev-ui'
import type { Block } from '../../schemas/block'
import ReviewCard from '../reviews/ReviewCard.astro'

type Props<As extends HTMLTag = 'section'> = Block<As>

const {
  structure = 'split',
  align = 'center',
  position,
  tagline,
  rating,
  review,
  heading,
  text,
  buttons,
  image,
  ...rest
} = Astro.props
---

<Section
  class:list={'content'}
  structure="split"
  align="center"
  {...rest}
>
  <Column>
    <Rating value={rating} />
    <ReviewCard
      frame="none"
      {...review}
    />
    <Tagline html={tagline} />
    <Heading
      color="base"
      html={heading}
    />
    <Text
      color="base"
      html={text}
    />
    <Row>
      {buttons?.map((button) => <Button {...button} />)}
    </Row>
  </Column>
  <Image
    {position}
    src={image}
  />
</Section>
